@import url(http://fonts.googleapis.com/css?family=Dosis:500,700|Bangers);

/* Yeoman Generated Styles */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Global Styles */
body {
    background-image: url("http://subtlepatterns.com/patterns/school.png");
    font-family: "Dosis";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bangers";
    letter-spacing: 1px;
    margin: 0px;
}

.top-bar-section ul li > a {
    font-family: "Dosis";
}

/* Foundation Overrdies */
.panel {
    margin-bottom: 0px;
}

.row.fluid {
    max-width: 82.5rem;
}

.top-bar {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #e74c3c;
}

/* Custom Styles */
.tile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 250px;
    position: relative;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    bottom: 0px;
    color: white;
    padding: 5px 10px;
    position: absolute;
    text-shadow: 0px 1px 2px black;
    width: 100%;
}

.timestamp {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 2px;
    color: white;
    display: inline;
    padding: 2.5px 7.5px;
    position: absolute;
    text-shadow: 0px 1px 2px black;
}

.footer {
    padding-bottom: 100px;
}