<div class="fluid row">
    <div class="medium-6 large-9 columns">
        <ul class="small-block-grid-1 large-block-grid-3">
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
            <li>
                <div class="tile" style="background-image: url('http://thecatapi.com/api/images/get');">
                    <h6 class="timestamp">Hellow</h6>
                    <h4 class="title text-center">This is a post title</h4>
                </div>
            </li>
        </ul>
    </div>
    <div class="medium-6 large-3 columns">
        <div class="panel"></div>
    </div>
</div>